  <!-- Bottom Nav -->
  <footer class="footer">
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <p class="display-10">&copy; Copyright 2021. All rights reserved.</p>
    </nav>
  </footer>